/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #e6f2ff;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #023e8a;
}

nav .logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

nav .btn-nav {
    background-color: #d90429;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

nav .btn-nav:hover {
    background-color: #9b0218;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 50px;
    gap: 20px;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 3rem;
    color: #03045e;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #023e8a;
}

.btn-hero {
    background-color: #0077b6;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

.btn-hero:hover {
    background-color: #023e8a;
}

.hero-image img {
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
}